.Nosotros{
    overflow-x: hidden;
    display: flex;
    align-items:center;
    justify-content: space-between;

}
.k{
    width: 50%;
    display: flex;
    justify-content: center;
}
.about{
    max-width: 70%;
    display: flex;
    flex-direction: column;
}
.about h1, .about p{
    margin-left: 40px;
}
.about h1{
    font-size: 2.2rem;
}
.about h4{
    margin-left: 32px;
    transform: translateY(50px);
}
.about p{
    font-size: 1.0rem;  
    text-align: justify;
    padding-left: 40px;
    transform: translateY(-20px);
}
.about button{
    max-width: 120px;
    transform: translate(20px);
    align-self: flex-end;
    height: 32px;
    background-color: #006C0F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about button span{
    color: aliceblue;
}
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-230%, -75%);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #0f8757;
    z-index: -1;
    animation: floatCircle 2s infinite alternate ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
.foto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto img{
    border-radius: 30% 70% 70% 30% / 30% 64% 36% 70%;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.foto .circulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -28%);
    width: 400px;
    width: 400px;
    height: 400px;
    border-radius: 30% 70% 42% 58% / 30% 64% 36% 70% ;
    background-color: #0a613e;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    z-index: -1;
}


/* Keyframes */
@keyframes floatCircle {
    0% {
      transform: translate(-230%, -75%) translateY(0);
    }
    100% {
      transform: translate(-230%, -75%) translateY(-40px);
    }
  }